CompileFlags:
  Compiler: clang-cl

Index:
  StandardLibrary: Yes

Diagnostics:
  ClangTidy:
    FastCheckFilter: Loose

Hover:
  ShowAKA: Yes

---
If:
  PathMatch: ./build

Index:
  Background: Skip
