name: Main CI [XMake]

on:
  pull_request:
    branches: [main, feature/*, fix/*]
    paths:
      - "CommonLibSF/**"
      - "xmake.lua"

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        mode: [release]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup XMake
        uses: xmake-io/github-action-setup-xmake@v1.0.13
        with:
          xmake-version: '2.8.2'

      - name: Configure
        run: xmake config -y --mode=${{ matrix.mode }} --vs_toolset=14.37

      - name: Build
        run: xmake build -y -vD
