name: vcpkg Registry Helper

on:
  push:
    branches: main

jobs:
  helper:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.VCPKG_HELPER_TOKEN }}
          repository: Starfield-Reverse-Engineering/Starfield-RE-vcpkg
          event-type: update-event
          client-payload: '{"sha": "${{ github.sha }}"}'
